**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/out
**/logs
**/.DS_Store
**/node_modules
**/.env
**/.env.local
**/appsettings.Development.json
**/*.log
**/*.md
!README.md
**/build_*.log
**/apikeys_build.log
